:root {
    --color-state-default: #e6ffff; /* Light grey for default state color */
    --color-state-active: #3F69FF; /* Dark color for highlighted states */
    --color-state-hover-active: #012399;
}

#us-map{
}

.usmapsection {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#path67 {
  fill: none !important;
  stroke: #9fc6ff !important;
  cursor: default;
}
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid var(--color-state-hover-active);
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}

path, circle {
    stroke: #9fc6ff !important;
    stroke-width: 1px;
    stroke-linejoin: round;
}

.state-active {
    fill: var(--color-state-active);
    
}

.state-active:hover {
  stroke: var(--color-state-hover-active) !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: var(--color-state-hover-active) !important;
  cursor: pointer;
}